/*------------------------------------
BASE
------------------------------------*/
html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}
/*------------------------------------
ELEMENT
------------------------------------*/
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
body{
    margin: 0;
    padding: 0;

    font-family:"Roboto","Dosis", serif;
    font-size: 16px;
}
a{
    text-decoration: none;
}
/*------------------------------------
COMPONENTS
------------------------------------*/