/*------------------------------------
BASE
------------------------------------*/
html{
    box-sizing: border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}
/*------------------------------------
ELEMENT
------------------------------------*/
.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
body{
    margin: 0;
    padding: 0;

    font-family:"Roboto","Dosis", serif;
    font-size: 16px;
}
a{
    text-decoration: none;
    font-family: "Dosis";
    font-weight: bold;
}
p{ margin: 0;}
h1{
    font-family:"Dosis", serif;
    font-size: 43px;
    font-weight: bold;
    margin: 0;
}
h2{
    font-family:"Dosis", serif;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}
h3{
    font-family:"Dosis", serif;
    font-size:24px;
    font-weight: bold;
    margin: 0;
    padding-bottom:8px;
    margin-top: 32px;
}
/*------------------------------------
COMPONENTS
------------------------------------*/
/*header*/
.logo img{
    height:87px ;
}
header{
    background-color:white ;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
    justify-content: space-between;
    gap: 30px;

}
header .logo{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}
nav li{
    list-style-type: none;

    
    
}
nav a{
    color: black;
    padding:4px 10px ;
    border-radius: 5px;
    font-size: 16px;
}
nav a:hover{
    background-color:#0E5EA1 ;
    color: white;
    
}


/*section banniere*/

.banniere{
    background-image: url(../images/bannière.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    
}
.banniere .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
}
.hero{
    background-color:rgba(0, 0, 0, 0.7);;
    border-radius: 10px;
}
.hero h2{
    color: white;
    text-align: center;
    padding: 20px  20px 10px 20px ;
    
}
.hero p{
font-size: 20px;
color:#2FCB48 ;
text-align: center;
padding: 0 0 20px 0;
}
/*section contenu*/
.contenu{
    background-color:#E3E4E4 ;
}
.contenu .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    justify-content: space-between;
    gap:40px 20px ;
    padding-top: 40px ;
    padding-bottom: 40px;
}
.escapade{
    grid-column: span 3;
}
article{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px  10px 0 10px ;
    height: 714px;
    border-bottom:solid #0E5EA1 5px ;
}
article p{
    line-height: 160%;
}
.bouton{
    align-self:center;
    color:black;
    background-color:#B7B7B7 ;
    border-radius: 5px;
    margin-bottom: 22px ;
    padding: 8px 45px;
    margin-top: auto;
}
.bouton:hover{
    color:white;
    background-color: #0E5EA1
}
/*footer*/
footer{
    background-color: black;

}
footer p{
    color: white;
    text-align: center;
    padding:24px ;
}